openai==0.26.5
requests==2.32.2
discord.py==2.1.1
python-dotenv==0.21.1
Flask==2.2.5
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability